@font-face {
	font-family: Gotham Rounded;
	src: url("font.otf") format("opentype");
}

*, *::before, *::after {
	box-sizing: border-box;
	font-family: Gotham Rounded;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90vw;
	height: 90vh;
	background: url("bg.jpg") no-repeat fixed center;
	background-size: cover;
}

.container {
	width: 700px;
	max-width: 90%;
}

.black {
	background-color: black;
	padding: 10px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 0 10px 2px;
}

.answer {
	display: grid;
	grid-template-columns: repeat(1, auto);
	gap: 10px;
}

.btn {
	border-radius: 100px;
	padding: 3px 0px;
	font-size: 40px;
	background: linear-gradient(to bottom, #fffb05 0%, #9e9c06 100%); 
	outline: none;
	color: white;
	font-weight: bold; 
    font-style: italic;
    text-shadow: #ff0000 0px 0px 0px;
	text-decoration: none;
}

.black h1 {
	color: white;
}

.black p {
	font-size: 18px;
	color: white;
}
.my-6 {
position: relative;
top: 100px;
left: 65px;
}